<% content_for :specific_css_js do %>
    <%= stylesheet_link_tag "main/index", :media => "all" %>
    <%= javascript_include_tag 'main/index' %>
    
<% end %>

<% require 'date' %>
<% date = Date.today %>
<!--検索ボックス開始-------------------------------------------------------------------------->
        <% if flash[:notice] %>
    		<header2>
                <div class="flash">
                    <%= flash[:notice] %>
                </div>
            </header2>
        <% end %>

        <% if @seaching_condition == 2 %>
        <input type="hidden" value= 2 class= "searching_condition_submit" >
        <% end %>
        <div class="top-wrapper">
     
        <%= form_tag ("/main/index"), method: :get do %>
        
        <% if @seaching_condition == 1 then %>
            <div class="seaching_condition_1 clicked-1" data-send-id = "1">
                    AVAILABLE TEACHERS 
            </div>
            <div class="seaching_condition_2" data-send-id = "2">
                    ALL TEACHERS
            </div>
            
         <% elsif @seaching_condition == 2 then %>
            <div class="seaching_condition_1" data-send-id = "1">
                    AVAILABLE TEACHERS 
            </div>
            <div class="seaching_condition_2 clicked-1" data-send-id = "2">
                    ALL TEACHERS
            </div>   
            
         <% end %> 
         
            <div class="container-search">
                <div class="dummy"></div>
        
                <table class="date_search_table" rules="all">
                  <tr>
                     <% (0..7).each do |n| %> 
                      <% dd=(date.wday+n).modulo(7) %>
                       
                                       
                        
                        
                        <% y = date.year.to_s %>
                        <% m = date.month %>
                
                            <% if m < 10 %>
                                <% m = "0" + date.month.to_s %>
                            <% else %>
                                <% m = date.month.to_s %>                      
                            <%end%>
                
                        <% d= date.day+n %>
                
                            <% if d < 10 %>
                                <% d = "0" + (date.day+n).to_s %>
                            <% else %>
                                <% d = (date.day+n).to_s %>                      
                            <%end%>

                        <% date_search = y +"-"+ m +"-"+ d; %>
                       
                      <% if @date == date_search %>
      			           <td class="date_search clicked" data-send-id = "<%= date_search %>"><%= date.day+n %> th<br>
      			           <% @date = date_search %>
      			      <% else %>
      			           <td class="date_search" data-send-id = "<%= date_search %>"><%= date.day+n %> th<br>
      			      <%end%>
      			        <%case dd %> 
            			<%when 0%>
            			 (Sun)
            			<%when 1%>
            			 (Mon)
            			<%when 2%>
            			 (Tue)
            			<%when 3%>
            			 (Wed)
            			<%when 4%>
            			 (Thu)
            			<%when 5%>
            			 (Fri)
            			<%when 6%>
            			 (Sat)
            			<% end%>
      			      
      			      </td>
      			     <% end %>
      			  </tr>
      			</table>
      		
                <div class="dummy"></div>   
                
                <div class="searchbox">
                   <div class="searchbox_left"> 
                        <span class="fa fa-clock-o">&nbsp;&nbsp;time
                   </div>
                   <div class="searchbox_right"> 
                      <select class="select2">
                            <option value="age">age</option>
                            <option value="－19">10s</option>
                            <option value="20－25">Early 20s</option>
                            <option value="26－30">Late 20s</option>
                            <option value="31－40">30s</option>
                            <option value="41－50">40s</option>
                            <option value="51－">50s</option>
                            <option value="any">any</option>
                        </select>
                        ~
                        <select class="select2">
                            <option value="age">age</option>
                            <option value="－19">10s</option>
                            <option value="20－25">Early 20s</option>
                            <option value="26－30">Late 20s</option>
                            <option value="31－40">30s</option>
                            <option value="41－50">40s</option>
                            <option value="51－">50s</option>
                            <option value="any">any</option>
                        </select>
                   </div>
                </div>
                
                <div class="searchbox hobby">
                        
                    <input type="text" id"pass" placeholder=" hobby" class="input2">
                </div>
 
                <div class="searchbox">    
                    <div class="searchbox_left"> 
                        &nbsp;<span class="fa fa-jpy">&nbsp;&nbsp;cost
                    </div>
                    <div class="searchbox_right"> 
                      <select class="select2" name="cost1">
                            
                            <% (0..6).each do |number1| %>
                                <% aa = number1*2.to_i %>
                                    <% if aa==0 then %>
                                        <% aa = "any"%>
                                    <% end %>
                                    
                                    <% if aa == @cost1.to_i then %>
                                        <option selected="selected" ><%= aa %></option>
                                    <%else %>
                                        <option ><%= aa %></option>
                                    <% end %>
                            <% end %>

                       </select>
                        ~
                        <select class="select2" name="cost2">
                        
                            <% (0..7).each do |number1| %>
                                <% aa = number1*2.to_i %>
                                    <% if aa==0 then %>
                                        <% aa = "any"%>
                                    <% end %>
                                    
                                    <% if aa == @cost2.to_i then %>
                                        <option selected="selected" ><%= aa %></option>
                                    <%else %>
                                        <option ><%= aa %></option>
                                    <% end %>
                            <% end %>
                        </select>
                   </div>
                 </div>  
                               
                 <div class="searchbox hobby">
                        
                    <input type="text" id="pass" placeholder=" free word" class="input2">
                </div>   
                
                <div class="searchbox">
                        <div class="searchbox_left"> 
                         <span class="fa fa-user">&nbsp;&nbsp;user
                        </div>
                        
                        <div class="searchbox_right"> 
                          <select class="select2" name="age">
                            <option value="any">age</option>
                            <option value="10s">10s</option>
                            <option value="E20">Early 20s</option>
                            <option value="L20">Late 20s</option>
                            <option value="30s">30s</option>
                            <option value="40s">40s</option>
                            <option value="50s">50s</option>
                            <option value="60s">60s</option>
                            <option value="70s">70s</option>
                            <option value="80s">80s</option>
                            <option value="90s">90s</option>
                            <option value="100s">100s</option>
                          </select>&nbsp;&nbsp;&nbsp;
                          
                          <select class="select2" name="sex">
                            <% case @sex %>
                                <%when ["male", "female"] %>
                                    <option value="any" selected="selected">sex</option>                           
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                <%when "male" %>
                                    <option value="any">sex</option>                           
                                    <option value="male" selected="selected">Male</option>
                                    <option value="female">Female</option>  
                                <%when "female" %>
                                    <option value="any">sex</option>                           
                                    <option value="male">Male</option>
                                    <option value="female" selected="selected">Female</option>    
                            <% end %>
                                    
                          </select>
                        </div>
                </div>
                    
                <div class="serch_btn">
                    <input type="submit" value="Search" class="input3"> 
                    <input type="hidden" name="date_search_id" id="send_data">
                    <input type="hidden" name="seaching_condition_id" id="send_data_1" >
                    <textarea class="invisible" name="date_clicked_before"><%= @date %></textarea>
                </div>
                
                <div class="serch_clear">
                    <%= link_to 'Clear seaching condition', controller: "main", action: "index", class: "clear_btn" %>
                </div>
<%= @date %>
             </div>
        </div>
        <% end %>
        

<!--検索ボックス終了-------------------------------------------------------------------------->
<!--検索件数とsort選択開始-------------------------------------------------------------------->       
        
      
        <div class="teacher-list-top">
            <div class="result-number-left">
             
                    <% require "time" %>
                    <% searched_date= Time.parse(@date) %>
                <p><span class="number"><%= %><%= @n %></span> teachers have been found for today (<%= searched_date.day %>th of <%= searched_date.month %>)</p>
                
            </div>
            <div class="result-number-right">
            
                <p class="sortby">sort by</p>
               
                <select class="select3"> 
                    <option value="Relevance"><%= link_to 'Price:Low to high', controller: "main", action: "index", order: 1 %></option>
                    <%= link_to 'Price:Low to high', controller: "main", action: "index", order: 1 %>
                    <option value="Price:High to low"><%= link_to 'Price:Low to high', controller: "main", action: "index", order: 1 %></option>
                    
                    <option value="Newest arrival"><%= link_to 'Price:Low to high', controller: "main", action: "index", order: 1 %></option>
                </select>
                <%= link_to '1', controller: "main", action: "index", order: 1 %> <!--cost:low to high-->
                <%= link_to '2', controller: "main", action: "index", order: 2 %> <!--cost:high to low-->
                <%= link_to '3', controller: "main", action: "index", order: 3 %> <!--id:low to high-->
                <%= link_to '0', controller: "main", action: "index", order: 0 %> <!--rate:high to low-->
            </div>
        </div>  
        
  
<!--検索件数とsort選択終了-------------------------------------------------------------------->
<!--検索結果開始------------------------------------------------------------------------------>  


       <% if @teachers.empty? %>
       <% count_page = 0%>
<<<<<<< HEAD

       <div class="noteacher">



       We are sorry but there is no teacher available right now.
       </div>
       <% else %>
       <!--table content-->
       <div class="main-part-trial">
       <% count_page = (@teachers.length-1).div(6)+1 %>
           <% if 1 <= @n.modulo(6) && @n.modulo(6) <= 3 && count_page == @page+1 %>  <!--段の調整-->
               <% row = 1%>
           <% else %>
               <% row = 2%>
            <% end %>
        
            <% (1..row).each do |x|%>
                <ul style="list-style:none; " class="profile-zone-trial">
                    <li class="blank-trial"><br></li>
                      <% a = 0+3*(x-1)+@page*6%>
          			  <% b = 1+3*(x-1)+@page*6%>
          			  <% c = 2+3*(x-1)+@page*6%>
          			  <% @teachers[a..c].each do |teacher|%>
          		             
                        <li class="teacher-info-trial">
              			  <img class="Profile-photo-trial" src="<%="/conversation.jpg"%>" ><br>
              			  <%= link_to teacher.name, "/main/#{teacher.id}/mypage_teacher", class: "introduction-trial name-trial" %><br>
              			  1 lesson:<%= teacher.cost %>$<br>
              			 
              			　
              			 <% if teacher.num  %>
              			   <% review_rate = teacher.rate.to_f.to_s + "   (  " + teacher.num.to_s + "  )" %>
              			 <% else %>
              			   <% review_rate = teacher.rate.to_f.to_s + "   (  " + "0" + "  )" %>
              			 <% end %>
              			  
              			 <%= link_to(review_rate,"/lessons/#{teacher.id}/review_show") %>
              			  <br>
              			  hobby:<%= teacher.hobby %><br>
              			 <% if Favorite.find_by(teacher_id: teacher.id, user_id: current_user.id) %>
              			   <%= link_to("unfavorite","/favorites/#{teacher.id}/destroy",{method:"post"}) %>
              			 <% else %>
              			   <%= link_to("favorite","/favorites/#{teacher.id}/create",{method:"post"}) %>
              			 <% end %>
              		<%end%>
          		   </li>
                  </ul> 
                <div class="scroll-part-trial">
                <% (0..23).each do |num|%>  
                 <% require "time" %>
                    
                    <% y = date.year.to_s %>
                    <% m = date.month %>
                    
                    <% if m < 10 %>
                      <% m = "0" + date.month.to_s %>
                    <% else %>
                      <% m = date.month.to_s %>                      
                    <%end%>
                    
                    <% d = date.day %>
                    
                    <% if d < 10 %>
                      <% d = "0" + date.day.to_s %>
                    <% else %>
                      <% d = date.day.to_s %>                      
                    <%end%>
                    
                    <% if num < 10 %>
                      <% h = "0" + num.to_s %>
                    <% else %>
                      <% h = num.to_s %>
                    <%end%>
                    
                    <% min1 = "00" %>
                    <% min2 = "30" %>
    
                    <% s = "00" %>
                    <% t11 = y + m + d + h + min1 + s; %>
                    <% t22 = y + m + d + h + min2 + s; %>
                    <% require "time" %>
                    <% t111 = y + "-" + m + "-" + d + " " + h  + ":" + min1  + ":" + s; %>
                    <% t222 = y + "-" + m + "-" + d + " " + h  + ":" + min2  + ":" + s; %>
                    <% ttt1= Time.parse(t111) %>
                    <% ttt2= Time.parse(t222) %>
                <ul style="list-style:none; " class="time1-trial">
                    <li class="schedule-row-1-trial">&nbsp;<%= 0+num %>:00&nbsp;</li>
                    
                    
          			<% @teachers[a..c].each do |teacher|%>
          			<% schedule = @lessons_available.where(teacher_id: teacher.id) %>
          			<% t_schedule = schedule.find_by(time: ttt1 ) %>
          			<% schedule_reserved = @lessons_reserved.where(teacher_id: teacher.id) %>
          			<% t_schedule_reserved = schedule_reserved.find_by(time: ttt1 ) %>
          			
          			
                    <li class="schedule-teacher-row-1-trial">
                    
                    <% if t_schedule %>
                        <%= link_to 'available', controller: "lessons", action: "reserve", time: t11, id: teacher.id, lid: t_schedule.id  %>
                    <%elsif t_schedule_reserved %> 
                      
                      <p  class="reserved">reserved</p>
                    <%else%>
                        <p class="invisible">aaaaa</p>                      
                    <% end %>
                    </li>
                   
                    <%end%>
                  </ul> 
                  
              <ul style="list-style:none; " class="time2-trial">
                    <li class="schedule-row-12-trial">&nbsp;<%= 0+num %>:30&nbsp;</li>
                    
                    
          			<% @teachers[a..c].each do |teacher|%>
          			<% schedule = @lessons_available.where(teacher_id: teacher.id) %>
          			<% t_schedule = schedule.find_by(time: ttt2) %>
                    <% schedule_reserved = @lessons_reserved.where(teacher_id: teacher.id) %>
          			<% t_schedule_reserved = schedule_reserved.find_by(time: ttt2 ) %>
          
                    <li class="schedule-teacher-row-12-trial">
                    <% if t_schedule %>
                       <%= link_to 'available', controller: "lessons", action: "reserve", time: t22, id: teacher.id, lid: t_schedule.id  %>
                    <%elsif t_schedule_reserved %> 
                      
                      <p  class="reserved">reserved</p>
                    <% else %>
                        <p class="invisible">aaaaa</p> 
                    <% end %>
                    
                    </li>
                    
                    <%end%>
                </ul> 
                  
                 
              <%end%>
              </div>
             
            <%end%>
            </div>
            <!--table content-->
            <% end %>
   
<!--検索結果終了----------------------------------------------------------------------------->
<!--ページ番号開始--------------------------------------------------------------------------->
   
       <% if count_page <= 1 %>
       <% else %>
       <div class="teacher-list-bottom">
        	<p class="nextpages">
        	   <% if @page >= 1 %>
        	        <%= link_to "<<", controller: "main", action: "index", page: 0, order: @order  %>
        	       <%= link_to "<", controller: "main", action: "index", page: @page-1, order: @order  %>&nbsp;&nbsp;
        	      
        	   <% end %>
        	   <% (1..count_page).each do |page| %>
        		<%= link_to page, controller: "main", action: "index", page: page-1, order: @order  %>&nbsp;&nbsp;
               <% end %>
               
        		<%= link_to ">", controller: "main", action: "index", page: @page+1, order: @order  %>&nbsp;&nbsp;
        		<%= link_to ">>", controller: "main", action: "index", page: count_page-1, order: @order  %>
        		
        	</p>
        	
        </div>
        <% end %>
        
<!--ページ番号終了--------------------------------------------------------------------------->
<!--トップに戻る開始------------------------------------------------------------------------->
		<div class="back-to-top">
		
			<a class="back-to-top-word" href="#">Back to top</a>
		
		</div>
<!--トップに戻る開始------------------------------------------------------------------------->
<!-- フッター開始（共通：変えないこと）--------------------------------------------------------->
         <footer>
      		
      		<div class="footer-logo">
       			 Progate
      		</div>
      
      		<div class="footer-list">
        		<ul>
          			<li>会社概要</li>
          			<li>採用</li>
          			<li>お問い合わせ</li>
        		</ul>
      		</div>
    	</footer>
    	
<!-- フッター終了（共通：変えないこと）--------------------------------------------------------->
