<% content_for :specific_css_js do %>
    <%= stylesheet_link_tag "main/index2", :media => "all" %>
    <%= javascript_include_tag 'main/index2' %>
<% end %>

<!--検索ボックス開始-------------------------------------------------------------------------->
        <% if flash[:notice] %>
    		<header2>
                <div class="flash">
                    <%= flash[:notice] %>
                </div>
            </header2>
        <% end %>
        
        <div class="top-wrapper">
            <div class="container-search">
                
                    <div class="searchbox age">
                        <select class="select2">
                            <option value="age">age</option>
                            <option value="－19">－19</option>
                            <option value="20－25">20－25</option>
                            <option value="26－30">26－30</option>
                            <option value="31－40">31－40</option>
                            <option value="41－50">41－50</option>
                            <option value="51－">51－</option>
                            <option value="any">any</option>
                        </select>
                    </div>
                    
                    <div class="searchbox sex">
                        <select class="select2">
                            <option value="sex">sex</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="any">any</option>
                        </select>
                    </div>  
                    
                                
                    <div class="searchbox cost">
                        
                        <select class="select2">
                            <option value="cost">cost</option>
                            <option value="－6.0$">－6$</option>
                            <option value="6.1－7.0$">6.1－7.0$</option>
                            <option value="7.1－8.0$">7.1－8.0$</option>
                            <option value="8.1－9.0$">8.1－9.0$</option>
                            <option value="9.1－10.0$">9.1－10.0$</option>
                            <option value="10.0$－">10.0$－</option>
                            <option value="any">any</option>
                        </select>
                    </div>  
                    
                    <div class="searchbox hobby">
                        
                        <input type="text" id"pass" placeholder=" hobby" class="input2">
                    </div>
                    
                    <p class="selectschedule">
                    	Schedule
                    </p>
                    
                    <p class="day-chose">
						<input type="checkbox" name="day" value="1">Mon
						<input type="checkbox" name="day" value="2">Tue
						<input type="checkbox" name="day" value="3">Wed
						<input type="checkbox" name="day" value="4">Thu
						<input type="checkbox" name="day" value="5">Fri
						<input type="checkbox" name="day" value="6">Sat
						<input type="checkbox" name="day" value="7">Sun
						<input type="checkbox" name="day" value="8">Anyday
					</p>
					
					<p class="time-chose1">
						<input type="checkbox" name="time" value="9" checked="checked">&nbsp;&nbsp;0:00～&nbsp;&nbsp;3:00
						<input type="checkbox" name="time" value="10">&nbsp;&nbsp;3:00～&nbsp;&nbsp;6:00
						<input type="checkbox" name="time" value="11">&nbsp;&nbsp;6:00～&nbsp;&nbsp;9:00
						<input type="checkbox" name="time" value="12">&nbsp;&nbsp;9:00～12:00
						<input type="checkbox" name="time" value="13">12:00～15:00
					</p>
					<p class="time-chose2">
						<input type="checkbox" name="time" value="14">15:00～18:00
						<input type="checkbox" name="time" value="15">18:00～21:00
						<input type="checkbox" name="time" value="15">21:00～24:00
						<input type="checkbox" name="time" value="16">Anytime
					</p>
                    
                    <input type="submit" value="Search" class="input3">
            </div>
        </div>
<!--検索ボックス終了-------------------------------------------------------------------------->
<!--検索件数とsort選択開始-------------------------------------------------------------------->       
        <div class="teacher-list-top">
            <div class="result-number-left">
            
                <p><span class="number">10</span> teachers have been found</p>
                
            </div>
            <div class="result-number-right">
            
                <p class="sortby">sort by</p>
                
                <select class="select3">
                    <option value="Relevance">Relevance</option>
                    <option value="Price:Low to high">Price:Low to high</option>
                    <option value="Price:High to low">Price:High to low</option>
                    <option value="Avg. customor review">Avg. customor review</option>
                    <option value="Newest arrival">Newest arrival</option>
                </select>
                
            </div>
        </div>  
<!--検索件数とsort選択終了-------------------------------------------------------------------->
<!--検索結果開始------------------------------------------------------------------------------>           
        <% n = @teachers.count / 3 + 1 %>
        <% (1..n).each do |x|%> 
        <div class="main-part">
          <div class="fixed" >
            <table class="fixed-table" rules="all">
            
              <tr>
      			  <td class="blank">   
      			  </td>
      			  <% a = 0+3*(x-1)%>
      			  <% b = 1+3*(x-1)%>
      			  <% c = 2+3*(x-1)%>
      			  <% @teachers[a..c].each do |teacher|%>
      			  <td class="teacher-info">
      			  <img class="Profile-photo" src="<%="/conversation.jpg"%>"><br>
      			  <%= link_to teacher.name, "/teachers/#{teacher.id}/show", class: "introduction name" %><br>
      			  1 lesson:4$<br>
      			  ★★★★★<br>
      			  hobby:<%= teacher.hobby %>
      			  </td>
      			  <!--<td class="teacher-info">
      			  <img class="Profile-photo" src="profile_pic_temp.png"><br>
      			  Asaki Daisuke<br>
      			  1 lesson:6$<br>
      			  ★★★★★<br>
      			  hobby:baseball
      			  </td>
      			  <td class="teacher-info">
      			  <img class="Profile-photo" src="profile_pic_temp.png"><br>
      			  Komiya Yusuke<br>
      			  1 lesson:1$<br>
      			  ★☆☆☆☆<br>
      			  hobby:monkey
      			  </td>-->
      			  <%end%>
      		  </tr>
      		 </table> 
      	   </div>
      	    
      	   <div class="scrolled" >
            <table rules="all" class="scrolled-table">
                <% (0..23).each do |num|%>
      		        <tr >
      		                        <td class="schedule-row-color" ><%=0 + num%>:00 - <%=0 + num%>:30</td>
                    
                    				<td class="schedule-row-color" width="200px"></td>
                    				<td class="schedule-row-color" width="200px"></td>
                    				<td class="schedule-row-color" width="200px"></td>
                    				
                    </tr >	
                    <tr >           
                                    <td ><%=0 + num%>:30 - <%=1 + num%>:00</td>
                    
                    				<td width="200px"></td>
                    				<td width="200px"></td>
                    				<td width="200px"></td>
                    				
                    </tr >
                <% end %>
    	
                
                    
                    
                    
                    
                    <!--<tr >				
      								<td class="schedule-row-color">1:00 - 1:30</td>
        							
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >
                    
                    <tr >				
      								<td>1:30 - 2:00</td>
        							
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >				
                    
                    
                    
                    
                    
                    <tr >				
        								
        							<td class="schedule-row-color">2:00 - 2:30</td>           				
      								
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >		
                    
                    <tr >				
        								
        							<td>2:30 - 3:00</td>           				
      								
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >				
                    <tr >			
      								<td class="schedule-row-color">3:00 - 3:30</td>
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >	
                    
                    <tr >			
      								<td>3:30 - 4:00</td>
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >	
                    
                    <tr >			
      								<td class="schedule-row-color">4:00 - 4:30</td>
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >				
                    <tr >				
                    				<td>4:30 - 5:00</td>
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >	
                    
                    <tr >				
                    				<td class="schedule-row-color">5:00 - 5:30</td>
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >
                    
                    <tr >				
                    				<td>5:30 - 6:00</td>
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >	
                    			
                    <tr >				
                    				<td class="schedule-row-color">6:00 - 6:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >				
                    <tr >				
                    				<td>6:30 - 7:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >	
                    <tr >				  
                    				<td class="schedule-row-color">7:00 - 7:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >							
                    <tr >				  
                    				<td>7:30 - 8:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >				
                    <tr >				
                    				<td class="schedule-row-color">8:00 - 8:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >			
                    
                    <tr >				
                    				<td>8:30 - 9:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >
                    			
                    <tr >				
                    				<td class="schedule-row-color">9:00 - 9:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >
                    
                    <tr >				
                    				<td>9:30 - 10:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >				
                    				
                    <tr >				
                    				<td class="schedule-row-color">10:00 - 10:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >				
                    
                    <tr >				
                    				<td>10:30 - 11:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >				
                    
                    
                    <tr >				
                    				<td class="schedule-row-color">11:00 - 11:30</td> 
                    				
                    			    <td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>   
                    </tr >				
                    <tr >				
                    				<td>11:30 - 12:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >				
                    
                    <tr >				
                    				<td class="schedule-row-color">12:00 - 12:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >				
                    
                    <tr >				
                    				<td>12:30 - 13:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >				
            		<tr >				
                    				<td class="schedule-row-color">13:00 - 13:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >			
                    <tr >				
                    				<td>13:30 - 14:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >				
                    <tr >				
                    				<td class="schedule-row-color">14:00 - 14:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >	
                    <tr >				
                    				<td>14:30 - 15:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >					
                    <tr >				
                    				<td class="schedule-row-color">15:00 - 15:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >	
                     <tr >				
                    				<td>15:30 - 16:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >			
                     	
                    <tr >				
                    				<td class="schedule-row-color">16:00 - 16:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >
                    
                     <tr >				
                    				<td>16:30 - 17:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >						
                    <tr >				
                    				<td class="schedule-row-color">17:00 - 17:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >
                     <tr >				
                    				<td>17:30 - 18:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >				
                    <tr >				
                    				<td class="schedule-row-color">18:00 - 18:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >	
                    <tr >				
                    				<td>18:30 - 19:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >				
                    <tr >				
                    				<td class="schedule-row-color">19:00 - 19:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >
                    <tr >				
                    				<td>19:30 - 20:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >				
                    <tr >				
                    				<td class="schedule-row-color">20:00 - 20:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >
                    <tr >				
                    				<td>20:30 - 21:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >					
                    <tr >				
                    				<td class="schedule-row-color">21:00 - 21:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >
                    <tr >				
                    				<td>21:30 - 22:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >				
                    <tr >				
                    				<td class="schedule-row-color">22:00 - 22:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    </tr >	
                    <tr >				
                    				<td>22:30 - 23:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                    </tr >		
                    <tr >				
                    				<td class="schedule-row-color">23:00 - 23:30</td> 
                    				
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                    				<td class="schedule-row-color"></td>
                  				
                    </tr>   		
                    <tr >				
                    				<td>23:30 - 24:00</td> 
                    				
                    				<td></td>
                    				<td></td>
                    				<td></td>
                  				
                    </tr>   -->  						
         </table>
        </div>
         
            
        </div>
        <%end%>
<!--検索結果終了----------------------------------------------------------------------------->
<!--ページ番号開始--------------------------------------------------------------------------->
        <div class="teacher-list-bottom">
        	<p class="nextpages">
        	
        		<a class="pagenumber" href="#">2</a>&nbsp;&nbsp;
        		<a class="pagenumber" href="#">3</a>&nbsp;&nbsp;
        		<a class="pagenumber" href="#">4</a>&nbsp;&nbsp;
        		<a class="pagenumber" href="#">5</a>&nbsp;&nbsp;
        		<a class="pagenumber" href="#">6</a>&nbsp;&nbsp;
        		<a class="pagenumber" href="#">7</a>&nbsp;&nbsp;
        		<a class="pagenumber" href="#">8</a>&nbsp;&nbsp;
        		<a class="pagenumber" href="#">9</a>&nbsp;&nbsp;
        		<a class="pagenumber" href="#">10</a>&nbsp;&nbsp;
        		<a class="pagenumber" href="#">></a>&nbsp;&nbsp;
        		<a class="pagenumber" href="#">>></a>
        		
        	</p>
        </div>
        
<!--ページ番号終了--------------------------------------------------------------------------->
<!--トップに戻る開始------------------------------------------------------------------------->
		<div class="back-to-top">
		
			<a class="back-to-top-word" href="#">Back to top</a>
		
		</div>
<!--トップに戻る開始------------------------------------------------------------------------->
<!-- フッター開始（共通：変えないこと）--------------------------------------------------------->
         <footer>
      		
      		<div class="footer-logo">
       			 Progate
      		</div>
      
      		<div class="footer-list">
        		<ul>
          			<li>会社概要</li>
          			<li>採用</li>
          			<li>お問い合わせ</li>
        		</ul>
      		</div>
    	</footer>
    	
<!-- フッター終了（共通：変えないこと）--------------------------------------------------------->
