<% content_for :specific_css_js do %>
    <%= stylesheet_link_tag "main/index", :media => "all" %>
    <%= javascript_include_tag 'main/index' %>
<% end %>

<!--検索ボックス開始-------------------------------------------------------------------------->
        <% if flash[:notice] %>
    		<header2>
                <div class="flash">
                    <%= flash[:notice] %>
                </div>
            </header2>
        <% end %>
        
        <div class="top-wrapper">
            <div class="container-search">
                
                    <div class="searchbox age">
                        <select class="select2">
                            <option value="age">age</option>
                            <option value="－19">－19</option>
                            <option value="20－25">20－25</option>
                            <option value="26－30">26－30</option>
                            <option value="31－40">31－40</option>
                            <option value="41－50">41－50</option>
                            <option value="51－">51－</option>
                            <option value="any">any</option>
                        </select>
                    </div>
                    
                    <div class="searchbox sex">
                        <select class="select2">
                            <option value="sex">sex</option>
                            <option value="Male">Male</option>
                            <option value="Female">Female</option>
                            <option value="any">any</option>
                        </select>
                    </div>  
                    
                                
                    <div class="searchbox cost">
                        
                        <select class="select2">
                            <option value="cost">cost</option>
                            <option value="－6.0$">－6$</option>
                            <option value="6.1－7.0$">6.1－7.0$</option>
                            <option value="7.1－8.0$">7.1－8.0$</option>
                            <option value="8.1－9.0$">8.1－9.0$</option>
                            <option value="9.1－10.0$">9.1－10.0$</option>
                            <option value="10.0$－">10.0$－</option>
                            <option value="any">any</option>
                        </select>
                    </div>  
                    
                    <div class="searchbox hobby">
                        
                        <input type="text" id"pass" placeholder=" hobby" class="input2">
                    </div>
                    
                    <p class="selectschedule">
                    	Schedule
                    </p>
                    
                    <p class="day-chose">
						<input type="checkbox" name="day" value="1">Mon
						<input type="checkbox" name="day" value="2">Tue
						<input type="checkbox" name="day" value="3">Wed
						<input type="checkbox" name="day" value="4">Thu
						<input type="checkbox" name="day" value="5">Fri
						<input type="checkbox" name="day" value="6">Sat
						<input type="checkbox" name="day" value="7">Sun
						<input type="checkbox" name="day" value="8">Anyday
					</p>
					
					<p class="time-chose1">
						<input type="checkbox" name="time" value="9" checked="checked">&nbsp;&nbsp;0:00～&nbsp;&nbsp;3:00
						<input type="checkbox" name="time" value="10">&nbsp;&nbsp;3:00～&nbsp;&nbsp;6:00
						<input type="checkbox" name="time" value="11">&nbsp;&nbsp;6:00～&nbsp;&nbsp;9:00
						<input type="checkbox" name="time" value="12">&nbsp;&nbsp;9:00～12:00
						<input type="checkbox" name="time" value="13">12:00～15:00
					</p>
					<p class="time-chose2">
						<input type="checkbox" name="time" value="14">15:00～18:00
						<input type="checkbox" name="time" value="15">18:00～21:00
						<input type="checkbox" name="time" value="15">21:00～24:00
						<input type="checkbox" name="time" value="16">Anytime
					</p>
                    
                    <input type="submit" value="Search" class="input3">
            </div>
        </div>
        
        

<!--検索ボックス終了-------------------------------------------------------------------------->
<!--検索件数とsort選択開始-------------------------------------------------------------------->       
        <% require 'date' %>
        <% date = Date.today %>
      
        <div class="teacher-list-top">
            <div class="result-number-left">
            
                <p><span class="number"><%= %><%= @n %></span> teachers have been found for today (<%= date.day %>th of <%= date.month %>)</p>
                
            </div>
            <div class="result-number-right">
            
                <p class="sortby">sort by</p>
               
                <select class="select3"> 
                    <option value="Relevance"><%= link_to 'Price:Low to high', controller: "main", action: "index", order: 1 %></option>
                    <%= link_to 'Price:Low to high', controller: "main", action: "index", order: 1 %>
                    <option value="Price:High to low"><%= link_to 'Price:Low to high', controller: "main", action: "index", order: 1 %></option>
                    
                    <option value="Newest arrival"><%= link_to 'Price:Low to high', controller: "main", action: "index", order: 1 %></option>
                </select>
                <%= link_to '1', controller: "main", action: "index", order: 1 %> <!--cost:low to high-->
                <%= link_to '2', controller: "main", action: "index", order: 2 %> <!--cost:high to low-->
                <%= link_to '3', controller: "main", action: "index", order: 3 %> <!--id:low to high-->
                <%= link_to '0', controller: "main", action: "index", order: 0 %> <!--rate:high to low-->
            </div>
        </div>  
        
  
<!--検索件数とsort選択終了-------------------------------------------------------------------->
<!--検索結果開始------------------------------------------------------------------------------>  
       <% if @teachers == []%>
       We are sorry but there is no teacher available right now.
       <% else %>
       <!--table content-->
       <div class="main-part-trial">
       <% count_page = (@teachers.length-1).div(6)+1 %>
           <% if 1 <= @n.modulo(6) && @n.modulo(6) <= 3 && count_page == @page+1 %>  <!--段の調整-->
               <% raw = 1%>
           <% else %>
               <% raw = 2%>
            <% end %>
        
            <% (1..raw).each do |x|%>
                <ul style="list-style:none; " class="profile-zone-trial">
                    <li class="blank-trial"><br></li>
                      <% a = 0+3*(x-1)+@page*6%>
          			  <% b = 1+3*(x-1)+@page*6%>
          			  <% c = 2+3*(x-1)+@page*6%>
          			  <% @teachers[a..c].each do |teacher|%>
          		             
                        <li class="teacher-info-trial">
              			  <img class="Profile-photo-trial" src="<%="/conversation.jpg"%>" ><br>
              			  <%= link_to teacher.name, "/main/#{teacher.id}/mypage_teacher", class: "introduction-trial name-trial" %><br>
              			  1 lesson:<%= teacher.cost %>$<br>
              			 
              			　
              			 <% if teacher.num  %>
              			   <% review_rate = teacher.rate.to_f.to_s + "   (  " + teacher.num.to_s + "  )" %>
              			 <% else %>
              			   <% review_rate = teacher.rate.to_f.to_s + "   (  " + "0" + "  )" %>
              			 <% end %>
              			  
              			 <%= link_to(review_rate,"/lessons/#{teacher.id}/review_show") %>
              			  <br>
              			  hobby:<%= teacher.hobby %><br>
              			 <% if Favorite.find_by(teacher_id: teacher.id, user_id: current_user.id) %>
              			   <%= link_to("unfavorite","/favorites/#{teacher.id}/destroy",{method:"post"}) %>
              			 <% else %>
              			   <%= link_to("favorite","/favorites/#{teacher.id}/create",{method:"post"}) %>
              			 <% end %>
              		<%end%>
          		   </li>
                  </ul> 
                <div class="scroll-part-trial">
                <% (0..23).each do |num|%>  
                 <% require "time" %>
                    
                    <% y = date.year.to_s %>
                    <% m = date.month %>
                    
                    <% if m < 10 %>
                      <% m = "0" + date.month.to_s %>
                    <% else %>
                      <% m = date.month.to_s %>                      
                    <%end%>
                    
                    <% d = date.day %>
                    
                    <% if d < 10 %>
                      <% d = "0" + date.day.to_s %>
                    <% else %>
                      <% d = date.day.to_s %>                      
                    <%end%>
                    
                    <% if num < 10 %>
                      <% h = "0" + num.to_s %>
                    <% else %>
                      <% h = num.to_s %>
                    <%end%>
                    
                    <% min1 = "00" %>
                    <% min2 = "30" %>
    
                    <% s = "00" %>
                    <% t11 = y + m + d + h + min1 + s; %>
                    <% t22 = y + m + d + h + min2 + s; %>
                    <% require "time" %>
                    <% t111 = y + "-" + m + "-" + d + " " + h  + ":" + min1  + ":" + s; %>
                    <% t222 = y + "-" + m + "-" + d + " " + h  + ":" + min2  + ":" + s; %>
                    <% ttt1= Time.parse(t111) %>
                    <% ttt2= Time.parse(t222) %>
                <ul style="list-style:none; " class="time1-trial">
                    <li class="schedule-row-1-trial">&nbsp;<%= 0+num %>:00&nbsp;</li>
                    
                    
          			<% @teachers[a..c].each do |teacher|%>
          			<% schedule = @lessons_available.where(teacher_id: teacher.id) %>
          			<% t_schedule = schedule.find_by(time: ttt1 ) %>
          			<% schedule_reserved = @lessons_reserved.where(teacher_id: teacher.id) %>
          			<% t_schedule_reserved = schedule_reserved.find_by(time: ttt1 ) %>
          			
          			
                    <li class="schedule-teacher-row-1-trial">
                    
                    <% if t_schedule %>
                        <%= link_to 'available', controller: "lessons", action: "reserve", time: t11, id: teacher.id, lid: t_schedule.id  %>
                    <%elsif t_schedule_reserved %> 
                      
                      <p  class="reserved">reserved</p>
                    <%else%>
                        <p class="invisible">aaaaa</p>                      
                    <% end %>
                    </li>
                   
                    <%end%>
                  </ul> 
                  
              <ul style="list-style:none; " class="time2-trial">
                    <li class="schedule-row-12-trial">&nbsp;<%= 0+num %>:30&nbsp;</li>
                    
                    
          			<% @teachers[a..c].each do |teacher|%>
          			<% schedule = @lessons_available.where(teacher_id: teacher.id) %>
          			<% t_schedule = schedule.find_by(time: ttt2) %>
                    <% schedule_reserved = @lessons_reserved.where(teacher_id: teacher.id) %>
          			<% t_schedule_reserved = schedule_reserved.find_by(time: ttt2 ) %>
          
                    <li class="schedule-teacher-row-12-trial">
                    <% if t_schedule %>
                       <%= link_to 'available', controller: "lessons", action: "reserve", time: t22, id: teacher.id, lid: t_schedule.id  %>
                    <%elsif t_schedule_reserved %> 
                      
                      <p  class="reserved">reserved</p>
                    <% else %>
                        <p class="invisible">aaaaa</p> 
                    <% end %>
                    
                    </li>
                    
                    <%end%>
                </ul> 
                  
                 
              <%end%>
              </div>
             
            <%end%>
            </div>
            <!--table content-->
            <% end %>
   
<!--検索結果終了----------------------------------------------------------------------------->
<!--ページ番号開始--------------------------------------------------------------------------->
   
       <% if count_page <= 1 %>
       <% else %>
       <div class="teacher-list-bottom">
        	<p class="nextpages">
        	   <% if @page >= 1 %>
        	        <%= link_to "<<", controller: "main", action: "index", page: 0, order: @order  %>
        	       <%= link_to "<", controller: "main", action: "index", page: @page-1, order: @order  %>&nbsp;&nbsp;
        	      
        	   <% end %>
        	   <% (1..count_page).each do |page| %>
        		<%= link_to page, controller: "main", action: "index", page: page-1, order: @order  %>&nbsp;&nbsp;
               <% end %>
               
        		<%= link_to ">", controller: "main", action: "index", page: @page+1, order: @order  %>&nbsp;&nbsp;
        		<%= link_to ">>", controller: "main", action: "index", page: count_page-1, order: @order  %>
        		
        	</p>
        	
        </div>
        <% end %>
        
<!--ページ番号終了--------------------------------------------------------------------------->
<!--トップに戻る開始------------------------------------------------------------------------->
		<div class="back-to-top">
		
			<a class="back-to-top-word" href="#">Back to top</a>
		
		</div>
<!--トップに戻る開始------------------------------------------------------------------------->
<!-- フッター開始（共通：変えないこと）--------------------------------------------------------->
         <footer>
      		
      		<div class="footer-logo">
       			 Progate
      		</div>
      
      		<div class="footer-list">
        		<ul>
          			<li>会社概要</li>
          			<li>採用</li>
          			<li>お問い合わせ</li>
        		</ul>
      		</div>
    	</footer>
    	
<!-- フッター終了（共通：変えないこと）--------------------------------------------------------->
