<% content_for :specific_css_js do %>
	<%= stylesheet_link_tag "main/mypage_teacher", :media => "all" %>     
<% end %>  

<!--main開始------------------------------------------------------------------------------------->   
		<div class="main" >
			
				<!--profile開始------------------------------------------------------------------>   
				<div class="profile" >
					
					<div class="profile-left">
					
						<img class="profile-photo" src="IMG_1920.JPG" id="profile-photo-show">
					
					</div>
		
					<div class="profile-right">
						<div class="profile-right-box">
							
							<a class="box users" href="#review">						
								<p class="Num-lesson"><%= Lesson.where(teacher_id:@teacher.id).where(condition:1).length%><span class="lessons">&nbsp;&nbsp;Lessons with&nbsp;&nbsp;</span><%#= Lesson.where(teacher_id:@teacher.id).where(condition:2).length%><span class="lessons">&nbsp;&nbsp;students</span><i class="fa fa-users fa-2x"></i></p>
							</a>
                    		
                    		<a class="box comments" href="#schedule">
                    			<p class="hour-USD"><span class="lessons">Cost for 25 minutes &nbsp;&nbsp;</span><%= @teacher.cost%><span class="lessons">&nbsp;&nbsp;USD</span><i class="fa fa-comments fa-2x"></i></p>
                    		</a>
                    		<!--<a class="box clock" href="#schedule">
                    			<p class="min-USD">
                    				<span class="lessons">Trial (20-30 min)&nbsp;&nbsp;</span>
                    				3.0
                    				<span class="lessons">&nbsp;&nbsp;USD</span>
                    				<i class="fa fa-clock-o fa-2x"></i>
                    			</p>
							</a>-->

                    		<!--<a class="box rating" href="#review">
                    			<span class="lessons">Evaluation by students</span>
                    			<p class="evaluation">
                    			
                    				
                       			</p>
							</a>-->	
							
							 <div class="box2 rating2">
                    			<span class="lessons1"><%=@mean_rate%> out of 5 stars</span>
                    			
                    				<div class="star">
                    			    	<p class="evaluation5">5.0</p><div class="outside"><div class="inside5"></div></div><p class="evaluation5_right"><span =class"percentage5"><%=@num_rate_5*100/@total_rate%></span>%</p>
                    				</div>
                    				
                    				<div class="star">
                    			    	<p class="evaluation4">4.0</p><div class="outside"><div class="inside4"></div></div><p class="evaluation4_right"><span =class"percentage5"><%=@num_rate_4*100/@total_rate%></span>%</p>
                    				</div>

                    				<div class="star">
                    			    	<p class="evaluation3">3.0</p><div class="outside"><div class="inside3"></div></div><p class="evaluation3_right"><span =class"percentage5"><%=@num_rate_3*100/@total_rate%></span>%</p>
                    				</div>
                    				
                    				<div class="star">
                    			    	<p class="evaluation2">2.0</p><div class="outside"><div class="inside2"></div></div><p class="evaluation2_right"><span =class"percentage5"><%=@num_rate_1*100/@total_rate%></span>%</p>
                    				</div>
                    				
                    				<div class="star">
                    			    	<p class="evaluation1">1.0</p><div class="outside"><div class="inside1"></div></div><p class="evaluation1_right"><span =class"percentage5"><%=@num_rate_1*100/@total_rate%></span>%</p>
                    				</div>         
           		       					               			
							</div>						
							
							<!--<div class="box3">
									I LOVE ANIME!!! LET'S TALK!!!
                    		</div>-->
                    <!--<div class="exchange-rate">
                    	<p class="exchange-rate-title">EXCAHGE RATE</p>
                    	<p class="exchange-rate-explain">以下の交換レートを用いて計算しています。</p>
                    
                    </div>-->
						</div>
					</div>
		
				</div>
				<!--profile終了------------------------------------------------------------------>   
				
				<!--profile phot modal開始------------------------------------------------------->   
				<div class="profile-photo-modal-wrapper" id="profile-photo-modal">
    				<div class="modal-photo">
    				 	<div class="close-modal">
        					<i class="fa fa-2x fa-times"></i>
      					</div>
      					
      					<img class="profile-photo-modal" src="IMG_1920.JPG">
      					
    				</div>
				</div>
				


				<!--profile phot modal終了------------------------------------------------------->   
				<!--Introduction開始------------------------------------------------------------->   
				<div class="introduction">

							<p class="teacher-name"><%=@teacher.name%></p>
							
							<table class="table-introduction">
  								<tr>
    								<td class="title">AGE</td>
    								<td><%= Date.today.year-@teacher.birthday.year-1%></td>
    							    <%if @teacher == current_user%>
    							    <td><%= link_to("edit your account",edit_teacher_path(@teacher),class:"btn1") %></td>
    							    <td><%= link_to "edit your schedule", new_lesson_path(:id => @teacher),class:"btn1" %></td>
    							    <%end%>
  								</tr>
  								
  								<tr>
    								<td class="title">SEX</td>
    								<td><% if @teacher.sex %>
            							 male
            							<% else %>
            							 female
            							<% end %></td>
  								</tr>
  								<tr>
    								<td class="title">LANGUAGE</td>
    								<td><%=@teacher.language%></td>
  								</tr>
  								<tr>
    								<td class="title">HOBBY</td>
    								<td><%=@teacher.hobby%></td>
  								</tr>  
							</table>
							

					<hr width=95%>
					<p class="Introduction-title">INTRODUCTION</p>
						<p class="Introduction-contentes"><%=@teacher.hobby%></p>
                    <div id="schedule"></div> <!--マーキング-->
					<br>
					<br>
					<br>
					<br>


				</div>
				<!--Introduction終了------------------------------------------------------------->
		
						<hr class="line" width=95%>
				<!--スケジュール開始------------------------------------------------------------->   
				<div class="schedule">
					<p class="schedule-title">
						SCHEDULE &nbsp;&nbsp;&nbsp;&nbsp; (All schedules in the table blow are shown in your time-zone.)
					</p>
					<div class="schedule-timeselect">
						

								
					</div>
		
					<div class="schedule-table">
						<table class="table-schedule"  style="border-color:rgba(34, 49, 52, 0.3)" rules="all">
  								<tr>
    								<td class="title-schedule-left lefttop"></td>
    								<% today = Date.today %> 
    								<%# baseday = today.day.to_i%>
    								<% basetime = today.midnight%>
    								
    								<% (0..6).each do |num|%>
    								<% baseday = today + num%>
    								<td class="title-schedule"><%=baseday.day.to_i%></t>
    								<% end %>
    	
  								</tr>
  								<tr class="time1">
  								    <% (0..47).each do |num|%>
      								    <% start_time = basetime + num * 30.minutes %>
      								    <% end_time = start_time + 30.minutes %>
      					
      								    
      								    
      								    <% if start_time.min == 30 %>
        								    <td class="title-schedule-left"><%=start_time.hour%>:<%="%02d" % start_time.min%>-<%=end_time.hour%>:<%="%02d" % end_time.min%></td>
        				                <%else%>
        				                    <td class="schedule-row-color"><%=start_time.hour%>:<%="%02d" % start_time.min%>-<%=end_time.hour%>:<%="%02d" % end_time.min%></td>
        	                            <%end%>
        				                <% (0..6).each do |day|%>
                    
                                            <% lesson_time = start_time + day * 1.days %>                      <!--月の変わり目注意 対策考えること-->
                                            
                                            <!--<td class="schedule-row-color"></td>
            								<td class="schedule-row-color"><p class="reserved">reserved</p></td>-->
                                            
                                            <% if start_time.min == 30 %>
                								<td class="title-schedule-left">
                								    <%if DateTime.now < lesson_time %>
                        								<% if @lesson = Lesson.where(time:lesson_time).where(teacher_id:@teacher.id).first%>
                        								    <%case @lesson.condition %> 
                        								        <%when 1%>
                        								            <p class="reserved">done </p>
                        								        <%when 2%>
                        								            <p class="reserved">reserved </p>
                        								        <%when 3%>
                        								            <p class="reserved">available </p>
                        								        <% end%>
                        								 <% end%>
                        							<% end%>
                								</td>
                								
                                            <% else%>
                                                <td class="schedule-row-color">
                                                    <%if DateTime.now < lesson_time %>
                                                        <% if @lesson = Lesson.where(time:lesson_time).where(teacher_id:@teacher.id).first%>
                                                            <%case @lesson.condition %> 
                        								        <%when 1%>
                        							                <p class="reserved">done </p>
                        								        <%when 2%>
                        								            <p class="reserved">reserved </p>
                        								        <%when 3%>
                        								            <p class="reserved">available </p>
                        								        <% end%>
                                                        <% end%>
                                                    <% end%>
                                                
                                                </td>
                                            <% end %>
        								
        							    <% end %> 			
        							   			
      								      </tr>
  								      <% end %>
  															  								
  								
  								  								  								
							</table>
							<div id="review"></div> <!--マーキング-->
					</div>		
		
				</div>
				<!--スケジュール終了------------------------------------------------------------->
					<hr class="line" width=95%>		
				<!--レビュー開始----------------------------------------------------------------->   
				
				<div class="review">
					<p class="reviw-title">
						REVIEWS
					</p>
				<%if @count != 0%>	
				<% (1..@count).each do %>
				  <div class="review-unit-1">
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
						  
							<span class="students-evaluation"><%= "★"*@review[3] %></span> by <span class="students-name"> <%= @review[0] %> </span>
						  
						</div>	
						
						<div class="each-review-right2">
						  <%if @review[1]%>
							Commented at <%= @review[1].year %>.<%= @review[1].month %>.<%= @review[1].day %>
						  <%end%>
						</div>	
						
						<div class="each-review-right3">
						  <%if @review[2]%>
							<%= @review[2] %>
						  <%end%>
						</div>						
					
					   </div>
					
				<!--											
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							 
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>
					
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>
					
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>					
					
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div>
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>					
					
				  </div>
				  
				  <div class="review-unit-2">
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div>
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>					
		
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div>
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>					
		
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div> 
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>					
		
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div>
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>					
		
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div> 
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>
					
				  </div>
				  
				  
				   <div class="review-unit-3">
				  
				  					
		
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div>
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>		-->			
		
				  </div>
				<%end%>	
				<%end%>	
				    <%if @count != 0%>		
    					<div class="read-more">
    						Read more reviews
    					</div>
    				<%else%>
    				    There is no commnent.
    				<%end%>
				   </div>
				
				<!--レビュー終了-----------------------------------------------------------------> 
		

			
		</div>
<!--main終了------------------------------------------------------------------------------------->   

<!--トップに戻る開始----------------------------------------------------------------------------->
		
		<div class="back-to-top">
		
			<a class="back-to-top-word" href="#">Back to top</a>
		
		</div>

<!--トップに戻る終了（共通：変えないこと）------------------------------------------------------>
<!-- フッター開始（共通：変えないこと）--------------------------------------------------------->
         <footer id="footer">
      		
      		<div class="footer-logo">
       			 Progate
      		</div>
      

      		<div class="footer-list">
        		<ul>
          			<li>会社概要</li>
          			<li>採用</li>
          			<li>お問い合わせ</li>
        		</ul>
      		</div>
    	</footer>
    	
<!-- フッター終了（共通：変えないこと）--------------------------------------------------------->

		<script src="each_teacher.js"></script>
    </body>
    </html>