<% content_for :specific_css_js do %>
	<%= stylesheet_link_tag "main/mypage_teacher", :media => "all" %>     
<% end %>  

<!--main開始------------------------------------------------------------------------------------->   
		<div class="main" >
			
				<!--profile開始------------------------------------------------------------------>   
				<div class="profile" >
					
					<div class="profile-left">
					
						<img class="profile-photo" src="IMG_1920.JPG" id="profile-photo-show">
					
					</div>
		
					<div class="profile-right">
						<div class="profile-right-box">
							
							<a class="box users" href="#review">						
								<p class="Num-lesson">154<span class="lessons">&nbsp;&nbsp;Lessons with&nbsp;&nbsp;</span>90<span class="lessons">&nbsp;&nbsp;students</span><i class="fa fa-users fa-2x"></i></p>
							</a>
                    		
                    		<a class="box comments" href="#schedule">
                    			<p class="hour-USD"><span class="lessons">Cost for 1 hour &nbsp;&nbsp;</span>7.1<span class="lessons">&nbsp;&nbsp;USD</span><i class="fa fa-comments fa-2x"></i></p>
                    		</a>
                    		<a class="box clock" href="#schedule">
                    			<p class="min-USD">
                    				<span class="lessons">Trial (20-30 min)&nbsp;&nbsp;</span>
                    				3.0
                    				<span class="lessons">&nbsp;&nbsp;USD</span>
                    				<i class="fa fa-clock-o fa-2x"></i>
                    			</p>
							</a>

                    		<a class="box rating" href="#review">
                    			<span class="lessons">Evaluation by students</span>
                    			<p class="evaluation">
                    			
                    				4.1
                       			</p>
							</a>		
							
							 <div class="box2 rating2">
                    			<span class="lessons1">4.1 out of 5 stars</span>
                    			
                    				<div class="star">
                    			    	<p class="evaluation5">5.0</p><div class="outside"><div class="inside5"></div></div><p class="evaluation5_right"><span =class"percentage5">51</span>%</p>
                    				</div>
                    				
                    				<div class="star">
                    			    	<p class="evaluation4">4.0</p><div class="outside"><div class="inside4"></div></div><p class="evaluation4_right"><span =class"percentage5">28</span>%</p>
                    				</div>

                    				<div class="star">
                    			    	<p class="evaluation3">3.0</p><div class="outside"><div class="inside3"></div></div><p class="evaluation3_right"><span =class"percentage5">4</span>%</p>
                    				</div>
                    				
                    				<div class="star">
                    			    	<p class="evaluation2">2.0</p><div class="outside"><div class="inside2"></div></div><p class="evaluation2_right"><span =class"percentage5">7</span>%</p>
                    				</div>
                    				
                    				<div class="star">
                    			    	<p class="evaluation1">1.0</p><div class="outside"><div class="inside1"></div></div><p class="evaluation1_right"><span =class"percentage5">10</span>%</p>
                    				</div>         
           		       					               			
							</div>						
							
							<div class="box3">
									I LOVE ANIME!!! LET'S TALK!!!
                    		</div>
                    <!--<div class="exchange-rate">
                    	<p class="exchange-rate-title">EXCAHGE RATE</p>
                    	<p class="exchange-rate-explain">以下の交換レートを用いて計算しています。</p>
                    
                    </div>-->
						</div>
					</div>
		
				</div>
				<!--profile終了------------------------------------------------------------------>   
				
				<!--profile phot modal開始------------------------------------------------------->   
				<div class="profile-photo-modal-wrapper" id="profile-photo-modal">
    				<div class="modal-photo">
    				 	<div class="close-modal">
        					<i class="fa fa-2x fa-times"></i>
      					</div>
      					
      					<img class="profile-photo-modal" src="IMG_1920.JPG">
      					
    				</div>
				</div>
				


				<!--profile phot modal終了------------------------------------------------------->   
				<!--Introduction開始------------------------------------------------------------->   
				<div class="introduction">

							<p class="teacher-name"><%=current_user.name%></p>
							
							<table class="table-introduction">
  								<tr>
    								<td class="title">AGE</td>
    								<td><%=Date.today.year-current_user.birthday.year-1%></td>
    							    <td><%= link_to("edit your account",edit_teacher_path(current_user),class:"btn1") %></td>
    							    <td><%= link_to "edit your schedule", new_lesson_path(:id => current_user),class:"btn1" %></td>
    							    
  								</tr>
  								
  								<tr>
    								<td class="title">SEX</td>
    								<td><% if current_user.sex %>
            							 male
            							<% else %>
            							 female
            							<% end%></td>
  								</tr>
  								<tr>
    								<td class="title">LANGUAGE</td>
    								<td><%=current_user.language%></td>
  								</tr>
  								<tr>
    								<td class="title">HOBBY</td>
    								<td><%=current_user.hobby%></td>
  								</tr>  
							</table>
							

					<hr width=95%>
					<p class="Introduction-title">INTRODUCTION</p>
						<p class="Introduction-contentes"><%=current_user.hobby%></p>
                    <div id="schedule"></div> <!--マーキング-->
					<br>
					<br>
					<br>
					<br>


				</div>
				<!--Introduction終了------------------------------------------------------------->
		
						<hr class="line" width=95%>
				<!--スケジュール開始------------------------------------------------------------->   
				<div class="schedule">
					<p class="schedule-title">
						SCHEDULE &nbsp;&nbsp;&nbsp;&nbsp; (All schedules in the table blow are shown in your time-zone.)
					</p>
					<div class="schedule-timeselect">
						

								
					</div>
		
					<div class="schedule-table">
						<table class="table-schedule"  style="border-color:rgba(34, 49, 52, 0.3)" rules="all">
  								<tr>
    								<td class="title-schedule-left lefttop"></td>
    								<% (0..6).each do |num|%>
    								<td class="title-schedule"><%=Date.today.day+num%></t>
    								<% end %>
    	
  								</tr>
  								<tr class="time1">
  								    <% (0..23).each do |num|%>
  								    
    								<td class="title-schedule-left"><%=num%>:00-<%=num%>:30</td>
    								<td></td>
    								<td></td>
    								<td><p class="reserved">reserved</p></td>
    								<td></td>
    								<td></td>
    								<td></td>
    								<td></td>
  								</tr>
  								<tr class="time1">
    								<td class="title-schedule-left schedule-row-color"><%=num%>:30-<%=num+1%>:00</td>
    								<td class="schedule-row-color"></td>
    								<td class="schedule-row-color"></td>
    								<td class="schedule-row-color"></td>
    								<td class="schedule-row-color"><p class="reserved">reserved</p></td>
    								<td class="schedule-row-color"></td>
    								<td class="schedule-row-color"></td>
    								<td class="schedule-row-color"></td>
  								</tr>
  								<% end %>
  															  								
  								
  								  								  								
							</table>
							<div id="review"></div> <!--マーキング-->
					</div>		
		
				</div>
				<!--スケジュール終了------------------------------------------------------------->
					<hr class="line" width=95%>		
				<!--レビュー開始----------------------------------------------------------------->   
				<div class="review">
					<p class="reviw-title">
						REVIEWS
					</p>
					
				  <div class="review-unit-1">
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>
															
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							 
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>
					
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>
					
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>					
					
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<!--<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div>---> 
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>					
					
				  </div>
				  
				  <div class="review-unit-2">
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<!--<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div>---> 
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>					
		
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<!--<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div>---> 
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>					
		
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<!--<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div>---> 
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>					
		
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<!--<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div>---> 
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>					
		
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<!--<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div>---> 
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>
					
				  </div>
				  
				  
				   <div class="review-unit-3">
				  
				  					
		
					<div class="each-review">
						<div class="each-review-left">
							<img class="students-profile-photo" src="profile_pic_temp.png">
							
						</div>
						
						<div class="each-review-right1">
							<span class="students-evaluation">★★★★★</span> by <span class="students-name"> an idiot </span>
							<!--<div class="wrap">　 ←【保留】
  								<span class="rate rate0"></span>
  								<span class="rate rate1"></span>
   								<span class="rate rate1-5"></span>
  								<span class="rate rate2"></span>
  								<span class="rate rate2-5"></span>
   								<span class="rate rate3"></span>
    							<span class="rate rate3-5"></span>
    							<span class="rate rate4"></span>
    							<span class="rate rate4-5"></span>
    							<span class="rate rate5"></span>
							</div>---> 
						</div>	
						
						<div class="each-review-right2">
							Took the class at 2018.2.4
							
						</div>	
						
						<div class="each-review-right3">
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.I don't like this guy.
							I don't like this guy.I don't like this guy.I don't like this guy.
							
						</div>						
					
					</div>					
		
				  </div>
				
					
					<div class="read-more">
						Read more reviews
					</div>
				</div>
				<!--レビュー終了-----------------------------------------------------------------> 
		

			
		</div>
<!--main終了------------------------------------------------------------------------------------->   

<!--トップに戻る開始----------------------------------------------------------------------------->
		
		<div class="back-to-top">
		
			<a class="back-to-top-word" href="#">Back to top</a>
		
		</div>

<!--トップに戻る終了（共通：変えないこと）------------------------------------------------------>
<!-- フッター開始（共通：変えないこと）--------------------------------------------------------->
         <footer id="footer">
      		
      		<div class="footer-logo">
       			 Progate
      		</div>
      

      		<div class="footer-list">
        		<ul>
          			<li>会社概要</li>
          			<li>採用</li>
          			<li>お問い合わせ</li>
        		</ul>
      		</div>
    	</footer>
    	
<!-- フッター終了（共通：変えないこと）--------------------------------------------------------->

		<script src="each_teacher.js"></script>
    </body>
    </html>