<% content_for :specific_css_js do %>

<% end %>

	<% if @error_message %>
		<header2>
            <div class="form-error">
                <%= @error_message %>
            </div>
        </header2>
    <% end %>

	<div class="inputbox">
		
		<%= form_for @user do |f| %>
		  Name:<%= f.text_field :name, placeholder: @user.name%>
		  Email:<%= f.text_field :email, placeholder: @user.email%>
          Password:<%= f.password_field :password %>
          Password(Confirmation):<%= f.password_field :password_confirmation %>
		  <%= f.submit "Save Edit"%>
		<% end %>
		
	</div>