<% content_for :specific_css_js do %>
	<%= stylesheet_link_tag "users/top", :media => "all" %>
    <%= javascript_include_tag 'users/top' %>
<% end %>

	<% if @error_message %>
		<header2>
            <div class="form-error">
                <%= @error_message %>
            </div>
        </header2>
    <% end %>
		
   	<% if flash[:notice] %>
    	<header2>
            <div class="flash">
             	<%= flash[:notice] %>
            </div>
        </header2>
    <% end %>
   
<!--トップ開始-------------------------------------------------------------------------------->
<!--生徒用開始---------------------------	---->	
	<div class="top-wrapper-1">
		<div class="container">
		
			<h1>Learn Japanese</h1>
			
			<div class="btn-wrapper">
				<a class="btn sign-up" id="signup-show-students">Sign up</a>
				
				<p>or sign up with</p>
				
				<a class="btn facebook">
					<span class="fa fa-facebook"></span>facebook
				</a>
				
				<a class="btn twitter">
				<span class="fa fa-twitter"></span>twitter
				</a>
			</div>
		</div>
		
	</div>
<!--生徒用終了---------------------------	---->

<!--先生用先生開始---------------------------	---->
		<div class="top-wrapper-2">
		<div class="container">
		
			<h1>Teach Japanese</h1>
			
			
			<div class="btn-wrapper">
				<a class="btn sign-up" id="signup-show-teachers">Sign up</a>
				
				<p>or sign up with</p>
				
				<a class="btn facebook">
					<span class="fa fa-facebook"></span>facebook
				</a>
				
				<a class="btn twitter">
				<span class="fa fa-twitter"></span>twitter
				</a>
			</div>
		</div>
	</div>
<!--先生用終了---------------------------	---->
<!--トップ終了-------------------------------------------------------------------------------->	

<!--生徒用サインアップモーダル開始---------------------------------------------------->
	
		<div id="model">
			<div class="close-model">
    			<i class="fa fa-2x fa-times"></i>
  			</div>
  				
  			<div id="signup-form-students">
				<h2>新規登録</h2>
				<p class="subtitle">ご入力頂くEメールアドレスに新規登録用のURLをお送り致します。</p>
				
				<%= form_for @user ,url: new_user_path do |form| %>
	  				<%= form.text_field :email,{ class:"form-control", placeholder: "メールアドレス"} %>
 					<%= form.submit "メール送信", class:"submit-btn"%>
				<% end %>
			
  			</div>
		</div>
		
		
	
<!--生徒用サインアップモーダル終了---------------------------------------------------->	

<!--先生用サインアップモーダル開始---------------------------------------------------->
	
		<!--<div id="model-1">
			<div class="close-model">
    			<i class="fa fa-2x fa-times"></i>
  			</div>
  				
  			<div id="signup-form-teachers">
				<h2>新規登録</h2>
				<p class="subtitle">ご入力頂くEメールアドレスに新規登録用のURLをお送り致します。</p>
				
				<%= form_for @user ,url: new_user_path do |form| %>
	  				<%= form.text_field :email,{ class:"form-control", placeholder: "メールアドレス"} %>
 					<%= form.submit "メール送信", class:"submit-btn" %>
				<% end %>
			
  			</div>
		</div>
	
<!--用サインアップモーダル終了---------------------------------------------------->	

	<div class="lesson-wrapper"></div>
	<div class="message-wrapper"></div>
	
	<footer></footer>