<% content_for :specific_css_js do %>
		<%= stylesheet_link_tag "lessons/new", :media => "all" %>
		<%= javascript_include_tag 'lessons/new' %>
<% end %>

<div class="main">
<div class="schedule">
					<p class="schedule-title">
						SCHEDULE &nbsp;&nbsp;&nbsp;&nbsp; (授業可能な日時・時間帯にチェックを入れて確定。)、確定、確定。)
					</p>
					<div class="schedule-timeselect">
					
								
					</div>
		<%= form_tag(lessons_create_path, method: "post") do %>
					<div class="schedule-table">
						<table class="table-schedule"  style="border-color:rgba(34, 49, 52, 0.3)" rules="all">
  								
  								<tr>
    								<td class="title-schedule-left lefttop"></td>
    								<% today = Date.today %> 
    								<% baseday = today.day.to_i%>
    								<% basetime = today.midnight%>
    								
    								<% (0..6).each do |num|%>
    								<td class="title-schedule"><%=baseday+num%></td>          <!--月の変わり目注意-->
    								<% end %>
    	
  								</tr>
  								
  								<tr class="time1">
  								    <% (0..47).each do |num|%>
  								    <% start_time = basetime + num * 30.minutes %>
  								    <% end_time = start_time + 30.minutes %>
  								    
  								    
  								    <% if start_time.min == 30 %>
    								    <td class="title-schedule-left"><%=start_time.hour%>:<%="%02d" % start_time.min%>-<%=end_time.hour%>:<%="%02d" % end_time.min%></td>
    				                <%else%>
    				                    <td class="schedule-row-color"><%=start_time.hour%>:<%="%02d" % start_time.min%>-<%=end_time.hour%>:<%="%02d" % end_time.min%></td>
    	                            <%end%>
    				                <% (0..6).each do |day|%>
                
                                     <% lesson_time = start_time + day * 1.days %>                      <!--月の変わり目注意 対策考えること-->
                
                                    <% if start_time.min == 30 %>
        								<td class="title-schedule-left">
        								    <% if @lesson = Lesson.find_by(time:lesson_time) %>
        								        <%case @lesson.condition %> 
        								        <%when 1%>
        								        <p class="reserved">done </p>
        								        <%when 2%>
        								        <p class="reserved">reserved </p>
        								        <%when 3%>
        								        <p class="reserved">available </p>
        								        <% end%>
        								    <% else %>
        								        <%= check_box_tag 'time[]', lesson_time %>
        								    <% end%>
        								</td>
                                    <%else%>
                                        <td class="schedule-row-color">
                                            <% if @lesson = Lesson.find_by(time:lesson_time) %>
        								        <%case @lesson.condition %> 
            								        <%when 1%>
            								            <p class="reserved">done </p>
            								        <%when 2%>
            								            <p class="reserved">reserved </p>
            								        <%when 3%>
            								            <p class="reserved">available </p>
            								        <% end%>
        								    <% else %>
        								        <%= check_box_tag 'time[]', lesson_time %>
        								    <% end%>
                                        </td>
                                    <% end%>
                                    
                                    <% end %>
    								
    							   			
    							   			
  								</tr>
  								 						
  								<% end %>
  															  								
  				
  								  								  								
							</table>
							<%= submit_tag "予定を設定する", class: 'btn1' %>
							
							<div id="review"></div> <!--マーキング-->
					</div>		
		          <% end %>
				</div>

</div>

<!--トップに戻る開始------------------------------------------------------------------------->
		<div class="back-to-top">
		
			<a class="back-to-top-word" href="#">Back to top</a>
		
		</div>
<!--トップに戻る開始------------------------------------------------------------------------->
<!-- フッター開始（共通：変えないこと）--------------------------------------------------------->
         <footer>
      		
      		<div class="footer-logo">
       			 Progate
      		</div>
      
      		<div class="footer-list">
        		<ul>
          			<li>会社概要</li>
          			<li>採用</li>
          			<li>お問い合わせ</li>
        		</ul>
      		</div>
    	</footer>
    	
<!-- フッター終了（共通：変えないこと）--------------------------------------------------------->
