<% content_for :specific_css_js do %>
		<%= stylesheet_link_tag "lessons/new", :media => "all" %>
		<%= javascript_include_tag 'lessons/new' %>
<% end %>
<div class="main">
<div class="schedule">
					<p class="schedule-title">
						SCHEDULE &nbsp;&nbsp;&nbsp;&nbsp; (授業可能な日時・時間帯にチェックを入れてください。)
					</p>
					<div class="schedule-timeselect">
						
                    
								
					</div>
		<%= form_for @lesson do |form| %>
					<div class="schedule-table">
						<table class="table-schedule"  style="border-color:rgba(34, 49, 52, 0.3)" rules="all">
  								
  								<tr>
    								<td class="title-schedule-left lefttop"></td>
    								<% d1 = Date.today %>
    								<% sunday = d1.day.to_i - d1.wday.to_i %>       
    								<% (0..6).each do |num|%>
    								<td class="title-schedule"><%=sunday+num%></t>          <!--月の変わり目注意-->
    								<% end %>
    	
  								</tr>
  								<tr class="time1">
  								    <% (0..23).each do |num|%>
  								    
  								    
  								    
    								<td class="title-schedule-left"><%=num%>:00-<%=num%>:30</td>
    								<% (0..6).each do |number|%>
    								
    								
                                    <% require "time" %>
                
                                     <% y = d1.year.to_s %>
                                      <% m = d1.month %>                        <!--月の変わり目注意 対策考えること-->
                
                                      <% if m < 10 %>
                                        <% m = "0" + d1.month.to_s %>
                                      <% else %>
                                        <% m = d1.month.to_s %>                      
                                      <%end%>
                
                                      <% dd = sunday+number %>
                
                                       <% if dd < 10 %>
                                        <% d = "0" + dd.to_s %>
                                      <% else %>
                                        <% d = dd.to_s %>                      
                                       <%end%>
                
                                       <% if num < 10 %>
                                         <% h = "0" + num.to_s %>
                                       <% else %>
                                        <% h = num.to_s %>
                                      <%end%>
                
                                     <% min1 = "00" %>
                                     

                                      <% s = "00" %>
                                      <% t11 = y + m + d + h + min1 + s; %>
                                      <% t11_1 =t11.to_i %>
                                      <% require "time" %>
                                      <% t111 = y + "-" + m + "-" + d + " " + h  + ":" + min1  + ":" + s; %>
                                    
                
                                     <% ttt1= Time.parse(t111) %>
                                      								
    								<td><%= form.check_box :time, {multiple: true, include_hidden: false }, t11 %></td>
    								<% end %>
    							   			
    							   			
  								</tr>
  								<tr class="time1">
    								<td class="title-schedule-left schedule-row-color"><%=num%>:30-<%=num+1%>:00</td>
    								<% (0..6).each do |number|%>
    								 								
    								<% require "time" %>
                
                                     <% y = d1.year.to_s %>
                                      <% m = d1.month %>                        <!--月の変わり目注意 対策考えること-->
                
                                      <% if m < 10 %>
                                        <% m = "0" + d1.month.to_s %>
                                      <% else %>
                                        <% m = d1.month.to_s %>                      
                                      <%end%>
                
                                      <% dd = sunday+number %>
                
                                       <% if dd < 10 %>
                                        <% d = "0" + dd.to_s %>
                                      <% else %>
                                        <% d = dd.to_s %>                      
                                       <%end%>
                
                                       <% if num < 10 %>
                                         <% h = "0" + num.to_s %>
                                       <% else %>
                                        <% h = num.to_s %>
                                      <%end%>
                
                                     
                                      <% min2 = "30" %>

                                      <% s = "00" %>
                                      
                                      <% t22 = y + m + d + h + min2 + s; %>
                                      <% require "time" %>
                                      
                                     <% t222 = y + "-" + m + "-" + d + " " + h  + ":" + min2  + ":" + s; %>
                
                                     
                                     <% ttt2= Time.parse(t222) %>    								
    								<td class="schedule-row-color"><%= form.check_box :time, {multiple: true, include_hidden: false }, t22 %></td>
    								<% end %>
    								    								
  								</tr>
  								<% end %>
  															  								
  								
  								  								  								
							</table>
							<%= form.submit "予定を設定する", class: 'btn1' %>
							
							<div id="review"></div> <!--マーキング-->
					</div>		
		          <% end %>
				</div>

</div>




<!--トップに戻る開始------------------------------------------------------------------------->
		<div class="back-to-top">
		
			<a class="back-to-top-word" href="#">Back to top</a>
		
		</div>
<!--トップに戻る開始------------------------------------------------------------------------->
<!-- フッター開始（共通：変えないこと）--------------------------------------------------------->
         <footer>
      		
      		<div class="footer-logo">
       			 Progate
      		</div>
      
      		<div class="footer-list">
        		<ul>
          			<li>会社概要</li>
          			<li>採用</li>
          			<li>お問い合わせ</li>
        		</ul>
      		</div>
    	</footer>
    	
<!-- フッター終了（共通：変えないこと）--------------------------------------------------------->
