<header>
    <% if logged_in? %>
            <div class="container">
                <div class="header-left">
            
                    <%= link_to image_tag("https://prog-8.com/images/html/advanced/main_logo.png",:class => 'logo'),
                            {action: 'top', controller: 'users'},{class:'logout'}%>
                    
                    <div class="search_user">
                        <input type="text" id="user" placeholder="Username" class="input1">
                        <!--- <%= submit_tag '検索' %>
                        <%= text_field_tag :keywd,'',size:30 %> -->

                        <span class="fa fa-search"></span>
                        
                    </div>
                </div>
                
                 <div class="header-right">
                
                	<ul id="normal" class="dropmenu">
						<% current_user = User.find_by(id:session[:user_id])%>    
						<li><a ><span class="fa fa-cog"></a>
  					 		 <ul>
   							   <li><%= link_to("account","/main/student_account/#{current_user.id}") %></li>
    					       <li><%= link_to("account edit","/main/student_account_edit/#{current_user.id}") %></li>
     						   <li><%= link_to("よくあるお問い合わせ","/main/student_faq") %></li>
     						   <!--id="logout-show"-->
     						   <li><%= link_to("ログアウト","/logout",:method => :delete) %></li>
     						   <!--<li><%= form_tag("/logout") do %>
     						   <%= submit_tag "ログアウト"%>
     						   <% end %></li>-->
   							 </ul>
  						</li>
  						
  						<li><a href="#"><span class="fa fa-envelope"></a></li>
  						<li><a href="#"><span class="fa fa-bell"></a></li>
  						<li><a href="#"><span class="fa fa-user"></a></li>
  						<li><%= link_to("My page","/main/mypage_student") %></li>
  					    <li><a><div class="current_user"><%= current_user.name%>さん</div></a></li>
					</ul>
          	     </div>
            </div>
    <% else %>
        <div class="container">
    		<div class="header-left">
    			 <%= link_to image_tag("https://prog-8.com/images/html/advanced/main_logo.png",:class => 'logo'),
                            {action: 'top', controller: 'users'},{class:'logout'}%>
    		</div>
    		
    		<div class="header-right">
        		<div class="login1" id="login-show">ログイン</div>
       		</div>
       		
       		<div class="header-right">
        		<a class="login">日本語を教える</a>
       		</div>		
    	</div>
    <% end %>
</header>

<!--ログインモーダル開始------------------------------------------------------>   
<div class="login-model-wrapper" id="login-model">
	<!-- ログインのモーダル部分のHTMLを貼り付けてください -->
	<div class="model">
	 	<div class="close-model">
			<i class="fa fa-2x fa-times"></i>
  		</div>
  	
  		<div id="login-form">
			<h2>Emailログイン</h2>
			
			<%= form_for(:session, url: login_path) do |f| %>
		    	<%= f.email_field :email, {class: "form-control",placeholder:"メールアドレス"}%>
		      	<%= f.password_field :password, {class: "form-control", placeholder:"パスワード"} %>
				<div class="idpass-forget"> 
  					<%= link_to("IDまたはパスワードを忘れた方はこちら","/user/pass_forgot" ,class:"idpass-forget") %>
  				</div>
		      	<%= f.submit "ログイン", class:"submit-btn" %>
   			<% end %>
  		</div>
	</div>
</div>
		
		
<!--ログアウトモーダル開始------------------------------------------------------>   
<div class="logout-model-wrapper" id="logout-model">
	<div class="model">
		 <div class="close-model">
			<i class="fa fa-2x fa-times"></i>
  	     </div>
  		
  		 <div id="logout-form">
			<h2>ログアウトしますか？</h2>
			<form action="#">
  				<div id="submit-btn1">はい</div>
  				<a id="submit-btn2"  href="#">いいえ</a>
   			 </form>
  		</div>
	</div>
</div>
