<!DOCTYPE html>
<html>
<head>
		<meta charset="utf-8">
		<title>Ganjin</title>
  
  <%= stylesheet_link_tag    "application", media: 'all', 'data-turbolinks-track' => true %> 
  <%= javascript_include_tag 'application' %> 
  <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<%= yield :specific_css_js %>
	<%= javascript_include_tag 'navbar' %> 
  <%= csrf_meta_tags %>
  
</head>
<body>
<%= render :partial => "layouts/navbar" %>

<% if flash[:notice] %>
	<header2>
        <div class="flash">
            <%= flash[:notice] %>
        </div>
    </header2>
<% end %>
		
<% if @error_message %>
  <header2>
      <div class="form-error">
        <%= @error_message %>
      </div>
  </header2>
<% end %>
<%= yield %>

</body>
</html>